/* src/components/nav.css */
.layout {
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #001529;
  padding: 0 20px;
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.menu {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.ant-menu-dark .ant-menu-item-selected {
  background-color: #1890ff;
}

.ant-menu-item {
  display: flex;
  align-items: center;
}

.ant-btn-link {
  color: white;
}
